.App {
  text-align: center;
}

.App h1 {
  color: white;
}

.nav {
  display: inline-block;
  margin-top: .5cm;
}

.start-menu h1 {
  text-align: center;
  color: white;
  font-size: 2cm;
}


.game {
  margin-top: 1cm;
}

.stack {
  margin-top: 1cm;
  justify-content: center;
}

.count-value {
  color: white
}

.count {
  font-size: 50px;
}

.card-image img {
  width: 20%;
}

.deck-finished h1 {
  color: white;
}


body {
  overflow: hidden;
  /* Hide scrollbars */
}


html {
  --bg: #0e1313;
  --bg-alt: #35654d;
  --spacer: clamp(4em, 3em + 4vw, min(9em, 20vmin));

  --bgp-window: 80vh;
  --bgp-fade: 50%;

  --bgp-s: var(--spacer);
  --bgp-1: var(--bg);
  --bgp-2: var(--bg-alt);

  --bgp-hs: calc(var(--bgp-s) / 2);
  --bgp-hp-ss: var(--bgp-hs) var(--bgp-hs) / var(--bgp-s) var(--bgp-s);
  --bgp-0p-ss: 0 0 / var(--bgp-s) var(--bgp-s);

  --bgp-grad: var(--bgp-1) 0% 5%,
    var(--bgp-2) 6% 15%,
    var(--bgp-1) 16% 25%,
    var(--bgp-2) 26% 35%,
    var(--bgp-1) 36% 45%,
    var(--bgp-2) 46% 55%,
    var(--bgp-1) 56% 65%,
    var(--bgp-2) 66% 75%,
    var(--bgp-1) 76% 85%,
    var(--bgp-2) 86% 95%,
    transparent 96%;

  background:
    /* the 'window' that reveals the pattern */
    radial-gradient(175% var(--bgp-window) at top left,
      transparent var(--bgp-fade),
      var(--bg) 100%),
    /* the pattern, adapted from Temani Afif */
    radial-gradient(50% 50% at 100% 0, var(--bgp-grad)) var(--bgp-0p-ss),
    radial-gradient(50% 50% at 0 100%, var(--bgp-grad)) var(--bgp-0p-ss),
    radial-gradient(50% 50%, var(--bgp-grad)) var(--bgp-0p-ss),
    radial-gradient(50% 50%, var(--bgp-grad)) var(--bgp-hp-ss),
    var(--bgp-1);
  height: 100%;
}